.header {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100%;
  @apply bg-background;
  height: 4rem;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    height: 100%;
    width: 75%;
    margin: 0 auto;


    .logoContainer {
      display: flex;
      align-items: center;
      height: 4rem;
      width: 10rem;

      .logoLink {
        font-size: 30px;
        line-height: 34px;
        font-weight: 700;
      }
    }

    .navContainer {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .navLink {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .asideContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: .5rem;
      height: 100%;
      width: 10rem;


      .userDropDownTrigger {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 20px;
        line-height: 24px;

        .userDropDowmData {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          
          .usernameData {
            font-size: 16px;
            line-height: 18px;
          }
          
          .emailData {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
      
      .userDropDownContent{
       
       
        .userDropDownItem {
          
          .dropDownItemText {
            font-size: 20px;
          }
        }
      }


      .sheetContainer {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    .headerContainer {
      width: 100%;

      .logoContainer {
        width: auto;
      }

      .asideContainer {
        width: auto;

      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .headerContainer {
      .navContainer {
        display: none;
      }

      .asideContainer {
        .sheetContainer {
          display: block;
        }
      }
    }
  }
}
